<div id="header">
  <div class="header-inner clearfix">
    <div class="container">
      <h1 class="logo pull-left">
        <a href="/">
          <img src="./src/images/logo.png">
          <span>Mongotron</span>
        </a>
      </h1>
      <nav class="main-nav pull-right">
        <a href="#" class="mobile-nav-btn" ng-click="showMobileMenu = !showMobileMenu">
          <i class="fa fa-bars"></i>
        </a>
        <ul>
          <li>
            <a href="https://github.com/officert/mongotron#quick-start">Getting Started</a>
          </li>
          <li>
            <a href="https://github.com/officert/mongotron">GitHub</a>
          </li>
          <li>
            <a class="btn btn-sm btn-primary" href="https://github.com/officert/mongotron/releases">Download</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="mobile-menu" ng-class="{ active : showMobileMenu }">
    <a href="#" class="mobile-nav-btn" ng-click="showMobileMenu = !showMobileMenu">
      <i class="fa fa-times"></i>
    </a>
    <ul>
      <li>
        <a href="https://github.com/officert/mongotron#quick-start">Getting Started</a>
      </li>
      <li>
        <a href="https://github.com/officert/mongotron">Github</a>
      </li>
      <li>
        <a href="https://github.com/officert/mongotron">Download</a>
      </li>
    </ul>
  </div>
</div>
