@import '../bower_components/bootstrap/less/bootstrap.less';

@import 'appVariables.less';
@import 'appFonts.less';
@import 'appUtils.less';
@import 'appComponents.less';

/* --------------------------------- */
body {
  overflow: auto !important;
  .font-family-regular;
  color: #ccced2;
  #gradient > .directional(darken(@blue, 20%), @gray, -20deg);
  &.show-mobile-menu {
    .mobile-menu {
      display: block;
    }
  }
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: darken(@gray, 5%);
  display: none;
  .mobile-nav-btn {
    padding: 5px 10px;
    position: absolute;
    top: 29px;
    right: 16px;
    font-size: 18px;
  }
  ul {
    position: relative;
    top: 12%;
    li {
      a {
        color: white;
        display: block;
        width: 100%;
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
        border-radius: 0;
        text-decoration: none;
        background: darken(@gray, 5%);
        border: 1px solid transparent;
        border-left: none;
        border-right: none;
        &:hover {
          border: 1px solid @blue;
          border-left: none;
          border-right: none;
          background: @gray;
        }
      }
    }
  }
}

// #producthunt {
//   display: none;
//   background: #da552f;
//   border-top: 3px solid white;
//   border-bottom: 2px solid white;
//   .container {
//     max-width: 970px;
//     margin: 0 auto;
//   }
//   img {
//     max-height: 200px;
//     margin: 0 auto;
//   }
//   .text {
//     padding-top: 40px;
//     color: white;
//     h2 {
//       margin-bottom: 20px;
//     }
//     .cta {
//       margin-top: 16px;
//       i {
//         font-size: 20px;
//         margin-right: 5px;
//       }
//       span {
//         position: relative;
//         top: -1px;
//       }
//     }
//   }
// }
