@import '../bower_components/bootstrap/less/bootstrap.less';
@import '../bower_components/simple-css-animation/animations.less';
@import 'vendor/bootstrap-ems.less';
@import 'appVariables.less';
@import 'appFonts.less';
@import 'appUtils.less';
@import 'appComponents.less';
/* --------------------------------- */
body {
  overflow: auto !important;
  .font-family-regular;
  color: #ccced2;
  background: @gray;
  line-height: 1.45;
  #gradient > .directional(darken(@blue, 20%), @gray, -20deg);
  &.show-mobile-menu {
    .mobile-menu {
      display: block;
    }
  }
}
a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
