<div id="home">
  <div class="home-hero">
    <div class="container">
      <div class="banner">
        <h2 class="center animated fadeInUp delay">
          Cross platform MongoDB management
        </h2>
        <p class="center animated fadeInUp delay">
          Open Source, built using Electron and Angular JS
        </p>
      </div>
      <div class="screen-shot">
        <img src="./src/images/screenshot.png" class="img-responsive">
      </div>
      <div class="download">
        <p class="center">
          <a href="https://github.com/officert/mongotron/releases" class="btn btn-primary">
            Download
          </a>
        </p>
      </div>
    </div>
    <div class="disqus-wrapper">
      <div class="container">
        <disqus></disqus>
      </div>
    </div>
  </div>
</div>
