<div id="home">
  <div class="home-hero">
    <div class="container">
      <div class="banner">
        <h1 class="center animated fadeInUp delay">
          Cross platform MongoDB management
        </h1>
        <p class="center animated fadeInUp delay-three">
          Open Source, built using Electron and Angular JS
        </p>
      </div>
      <div class="screen-shot animated fadeIn delay-two">
        <img src="./src/images/screenshot.png" class="img-responsive">
      </div>
      <div class="download animated fadeIn delay-two">
        <p class="center">
          <a href="https://github.com/officert/mongotron/releases" class="btn btn-primary">
            Download
          </a>
        </p>
      </div>
    </div>
    <div id="home-features" class="features-wrapper">
      <div class="container">
        <h2 class="features-header center">Features</h2>
        <div class="underline"></div>
        <div class="features">
          <div class="feature row" ng-repeat="feature in features">
            <div class="col-sm-7 feature-image">
              <img class="img-responsive" ng-src="{{ feature.imageUrl }}">
            </div>
            <div class="col-sm-5">
              <h4 class="name">
                {{ feature.name }}
              </h4>
              <p class="desc">
                {{ feature.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="disqus-wrapper">
      <div class="container">
        <disqus></disqus>
      </div>
    </div>
  </div>
</div>
